<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javapro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".books.book2"></activity>
        <activity android:name=".books.book1" />
        <activity android:name=".practicaljavaone.swap" />
        <activity android:name=".practicaljavaone.largestarr" />
        <activity android:name=".practicaljavaone.area" />
        <activity android:name=".practicaljavaone.smallest" />
        <activity android:name=".practicaljavaone.positivenegative" />
        <activity android:name=".practicaljavaone.power" />
        <activity android:name=".practicaljavaone.vowels" />
        <activity android:name=".practicaljavaone.leapyear" />
        <activity android:name=".theorjavatwo.j2exercise8" />
        <activity android:name=".theorjavatwo.j2exercise7" />
        <activity android:name=".theorjavatwo.j2exercise6" />
        <activity android:name=".theorjavatwo.j2exercise5" />
        <activity android:name=".theorjavatwo.j2exercise4" />
        <activity android:name=".theorjavatwo.j2exercise3" />
        <activity android:name=".theorjavatwo.j2exercise2" />
        <activity android:name=".theorjavatwo.j2exercise1" />
        <activity android:name=".theorjavatwo.listofexercisesj2" />
        <activity android:name=".slidesjavatwo.listofslidesj2" />
        <activity android:name=".practicaljavaone.oddeven" />
        <activity android:name=".practicaljavatwo.exceptionhandling" />
        <activity android:name=".practicaljavatwo.interfaces" />
        <activity android:name=".practicaljavatwo.polymorphism" />
        <activity android:name=".practicaljavatwo.arrayp" />
        <activity android:name=".practicaljavatwo.inheritance" />
        <activity android:name=".practicaljavatwo.composition" />
        <activity android:name=".practicaljavatwo.moreobjclass" />
        <activity android:name=".practicaljavatwo.objclass" />
        <activity android:name=".practicaljavatwo.listofprexercisesj2" />
        <activity android:name=".videosjavatwo.videos2" />
        <activity android:name=".theorjavaone.J1exercise8" />
        <activity android:name=".theorjavaone.J1exercise7" />
        <activity android:name=".theorjavaone.J1exercise6" />
        <activity android:name=".theorjavaone.J1exercise5" />
        <activity android:name=".theorjavaone.J1exercise4" />
        <activity android:name=".theorjavaone.J1exercise3" />
        <activity android:name=".theorjavaone.J1exercise2" />
        <activity android:name=".slidesjavaone.listofslides" />
        <activity android:name=".videosjavaone.videos" />
        <activity android:name=".books.textbook" />
        <activity android:name=".materials.javatwo" />
        <activity android:name=".materials.javaone" />
        <activity android:name=".general.courses" />
        <activity android:name=".general.login" />
        <activity android:name=".general.register" />
        <activity android:name=".practicaljavaone.listofprexercisesj1" />
        <activity android:name=".theorjavaone.J1exercise1" />
        <activity android:name=".theorjavaone.listofexercisesj1" />
        <activity android:name=".general.firstActivity" />
        <activity android:name=".general.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>